{% extends 'base.html.twig' %}
{% block stylesheets %}
	<style>
		.align-center {
			margin: 0 auto;
		}
	</style>
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-lg-8 align-center">
			<h1>Blogs</h1>

			{# {{dump(app.user.roles[0])}} 
																																																 {{app.user.roles[0]}}  #}

			<a href="/register" type="button" class="btn btn-outline-dark mb-3">Register</a>

			{# {{app.user.roles[1]}} #}

			{% if app.user %}
				{% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
					<a href="/admin" type="button" class="btn btn-outline-dark mb-3">Go to Admin page</a>
				{% endif %}
			{% endif %}
			{# {% if app.user %}
			{% if app.user.roles[0] == 'ROLE_SUPER_ADMIN' %}
			<a href="/admin" type="button" class="btn btn-outline-dark mb-3">Go to Admin page</a>
			{% endif %}
				{% endif %} #}
			{% if app.user %}
				<a href="/create" type="button" class="btn btn-outline-dark mb-3">Create New Blog</a>
			{% endif %}

			<a href="/{{app.user ? 'logout': 'login'}}" type="button" class="btn btn-outline-dark mb-3">{{app.user ? 'Logout': 'Login'}}</a>
			<table class="table table-striped ">
				<thead class="thead-dark">
					<tr>
						<th>Title</th>
						<th>Short description</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					{% for blog in blogs %}
						<tr>
							<td>{{ blog.title }}</td>
							<td>{{ blog.shortDescription }}</td>
							<td>
								<a href="/edit/{{blog.id}}" class="btn btn-primary">Edit</a>
							</td>
							<td>
								<a href="{{ path('app_delete', {id: blog.id}) }}" onclick="return confirm('Are you sure?');" class="btn btn-danger">DELETE</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>
	</div>


{% endblock %}
